<h2 class="view-header">Edit <%= @figure.name %></h2>

<div class="page-container">
  <div class="form-container">
  <%= form_for @figure do |f| %>

    <div class="form-field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-field">
      <%= f.label :greek_name, "The name of #{@figure.name} in Greek:" %>
      <%= f.text_field :greek_name %>
    </div>

    <div class="form-field">
      <%= f.label :epithets, "Edit the Homeric epithets of #{@figure.name}:" %>
      <%= f.text_area :epithets %>
    </div>

    <div class="form-field">
      <%= f.label :description, "Edit the description for #{@figure.name}:" %>
      <%= f.text_area :description %>
    </div>

    <div class="form-field">
      <%= f.label :is_mortal, "Is #{@figure.name} mortal?"%>
      <!-- AM: The radio buttons seems to work when I remove `:value => boolean` from their labels. -->
      <!-- AM: Is there a reason why you included boolean values for both the labels and buttons? -->
      <!-- AM: (I also don't now too much about radio buttons in Rails, so this is an opportunity to educate me!) -->

      <%= f.label :is_mortal, "Yes", :value => "true"  %>
      <%= f.radio_button :is_mortal, true %>
      <%= f.label :is_mortal, "No", :value => "false" %>
      <%= f.radio_button :is_mortal, false %>
    </div>

    <div class="form-field">
      <%= f.label :img_url, "Enter a URL for #{@figure.name}'s featured image." %>
      <%= f.text_field :img_url %>
    </div>

    <div class="form-field">
      <%= f.label :allegiance %>
      <%= f.text_field :allegiance %>
    </div>

    <div class="form-field">
      <%= f.label :home_id, "Select a home for #{@figure.name}." %>
      <!-- AM: Like that you're using a variety of inputs in this app. -->
      <%= f.collection_select :home_id, Home.all, :id, :name %>
    </div>

    <div class="form-field">
      <%= f.submit "Update #{@figure.name}"%>
    </div>
  <% end %>
  </div>

  <div class="delete-container">
    <div>Delete <%= @figure.name%>?</div>
    <%= button_to "Delete #{@figure.name}", @figure, method: :delete, class: "delete-button" %>
  </div>
</div>
