<h2 class="view-header">Figures in Homer's <em>Iliad</em></h2>
<div class="index-container">
<% @figures.each do |figure| %>
  <% if figure.is_mortal %>
    <div class="figure">
      <h3><%= link_to figure.name, figure %></h3>
      <p><%= figure.greek_name %></p>
      <%= image_tag figure.img_url, class: "img-small" %>
    </div>
  <% else %>
  <div class="figure divine">
    <h3><%= link_to figure.name, figure %></h3>
    <p><%= figure.greek_name %></p>
    <%= image_tag figure.img_url, class: "img-small" %>
  </div>
  <% end %>
<% end %>
</div>
