<h2 class="view-header">Create New Figure</h2>

<div class="form-container">
<%= form_for @figure do |f| %>

  <div class="form-field">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </div>

  <div class="form-field">
    <%= f.label :greek_name, "What is the character's name in Greek?" %>
    <%= f.text_field :greek_name %>
  </div>

  <div class="form-field">
    <%= f.label :epithets, "List the Homeric epithets for this character:" %>
    <%= f.text_area :epithets %>
  </div>

  <div class="form-field">
    <%= f.label :description, "Provide a description of the character:" %>
    <%= f.text_area :description %>
  </div>

  <div class="form-field">
    <%= f.label :is_mortal, "Is the figure mortal?"%>
    <%= f.label :is_mortal, "Yes", :value => "true"  %>
    <%= f.radio_button :is_mortal, true %>
    <%= f.label :is_mortal, "No", :value => "false" %>
    <%= f.radio_button :is_mortal, false %>
  </div>

  <div class="form-field">
    <%= f.label :img_url, "Enter a URL for the figure's featured image:" %>
    <%= f.text_field :img_url %>
  </div>

  <div class="form-field">
    <%= f.label :allegiance, "Enter an allegiance for the figure:" %>
    <%= f.text_field :allegiance %>
  </div>

  <div class="form-field">
    <%= f.label :home_id, "Select a home for this figure:" %>
    <%= f.collection_select :home_id, Home.all, :id, :name %>
  </div>

  <div class="form-field">
    <%= f.submit "Add New Figure"%>
  </div>
<% end %>
</div>
