<h2><%= @figure.name %> <%= link_to"(edit)", edit_figure_path(@figure)%></h2>

<div class="show">
  <h3><%= @figure.greek_name %></h3>
  <p>Epithets: <em><%= @figure.epithets %></em></p>
  <p>Description: <%= @figure.description %></p>
  <p>Allegiance: <%= @figure.allegiance %></p>
  <%= image_tag @figure.img_url, class: "img-large" %>
</div>

<div class="figure-home">
  <p>Home: <%= link_to @figure.home.name, @figure.home %> </p>
</div>
