<h2 class = "view-header">Edit <%= @home.name %></h2>

<div class="form-container">
<%= form_for @home do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :greek_name %>
  <%= f.text_field :greek_name %>

  <%= f.label :description, "Enter a description for #{@home.name}" %>
  <%= f.text_area :description %>

  <%= f.label :img_url, "Enter a URL for the featured image for #{@home.name}." %>
  <%= f.text_field :img_url %>

  <%= f.submit "Update #{@home.name}"%>
<% end %>
</div>

<h2>Delete <%= @home.name%>?</h2>

<%= button_to "Delete #{@home.name}", @home, method: :delete, class: "delete" %>
