<h2 class = "view-header">Edit <%= @home.name %></h2>

<div class="page-container">
  <div class="form-container">
  <%= form_for @home do |f| %>

    <div class="form-field">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
    </div>

    <div class="form-field">
    <%= f.label :greek_name, "The name of #{@home.name} in Greek:" %>
    <%= f.text_field :greek_name %>
    </div>

    <div class="form-field">
    <%= f.label :description, "Update the description for #{@home.name}:" %>
    <%= f.text_area :description %>
    </div>

    <div class="form-field">
    <%= f.label :img_url, "Update the URL for the featured image for #{@home.name}:" %>
    <%= f.text_field :img_url %>
    </div>

    <div class="form-field">
    <%= f.submit "Update #{@home.name}"%>
    </div>
  <% end %>
  </div>

  <div class="delete-container">
    <div>Delete <%= @home.name%>?</div>
    <%= button_to "Delete #{@home.name}", @home, method: :delete, class: "delete" %>
  </div>
</div>
