<h2 class="view-header">Create a New Home</h2>

<div class="form-container">
<%= form_for @home do |f| %>

  <div class="form-field">
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %>
  </div>

  <div class="form-field">
  <%= f.label :greek_name, "What is the place's name in Greek?" %>
  <%= f.text_field :greek_name %>
  </div>

  <div class="form-field">
  <%= f.label :description, "Enter a description for the new place:" %>
  <%= f.text_area :description %>
  </div>

  <div class="form-field">
  <%= f.label :img_url, "Enter a URL for the featured image for this place:" %>
  <%= f.text_field :img_url %>
  </div>

  <div class="form-field">
  <%= f.submit "Add New Home"%>
  </div>
<% end %>
</div>
