<h2 class="view-header"><%= @home.name %> <%= link_to("(edit)", edit_home_path(@home)) if current_user %></h2>

<div class="show-container">
  <div class="show-details">
    <h3><%= @home.greek_name %></h3>
    <p>Description: <%= @home.description %></p>
    <%= image_tag @home.img_url, class: "img-large" %>
  </div>

  <div class="home-figures">
    <% @home.figures.each do |figure| %>
    <div>
      <p><%= link_to "#{figure.name}", figure %></p>
      <%= image_tag figure.img_url, class: "img-small" %>
    </div>
    <% end %>
  </div>
</div>
