<h2><%= @home.name %> <%= link_to"(edit)", edit_home_path(@home)%></h2>

<div class="show-home">
  <h3><%= @home.greek_name %></h3>
  <p>Description: <%= @home.description %></p>
  <%= image_tag @home.img_url, class: "home-photo" %>
</div>

  <% @home.figures.each do |figure| %>
  <div class="home-show-figures">
    <%= link_to "#{figure.name}", figure %>
  </div>
  <% end %>
