<!DOCTYPE html>
<html>
<head>
  <title>Kleos App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <h1><strong><em>Kleos</em> App</strong> – Who's Who in Homer's <em>Iliad</em></h1>
    <h2><%= link_to "Mortal and Divine Figures", figures_path %> | <%= link_to "Cities and Kingdoms", homes_path %> |
    <% if !current_user %>
      <%= link_to "Log In", new_user_session_path %>
    <% else %>
      <%= link_to "Log Out #{current_user.email}", destroy_user_session_path, method: :delete %>
    <% end %>
    </h2>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
