<!DOCTYPE html>
<html>
<head>
  <title>Kleos App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <nav>
    <h1>Major Figures and Locations in Homer's <em>Iliad</em></h1>
    <h2><%= link_to "View Figures", figures_path %> | <%= link_to "View Homes", homes_path %> | <%= link_to "Add New Figure", new_figure_path %> | <%= link_to "Add New Home", new_home_path %></h2>
  </nav>

<%= yield %>

</body>
</html>
